#RuzamCmsBundle_contact_form_container {
width: 100%;
height: auto;
overflow: hidden;
}

#RuzamCmsBundle_contact_form_left {
width: auto;
float: left;
height: auto;
    
}

#RuzamCmsBundle_contact_form_right {
width: auto;
float: left;
height: auto;    
}

.RuzamCmsBundle_contact_addproject_row {
width: 100%;
height: auto;
overflow: hidden;  
}

.RuzamCmsBundle_contact_addproject_row_title {
width: auto;
height: auto;
color: blue;
cursor: default;
display: inline;
}

.RuzamCmsBundle_contact_addproject_row_title label{
color: #022F54;
font-size: 14px;
font-weight: bold;
}
.RuzamCmsBundle_contact_addproject_row_title label:after {

content: " ( i )";
}

.RuzamCmsBundle_contact_addproject_row_widget {
width: 100%;
height: auto;
overflow: hidden;
}

.RuzamCmsBundle_contact_addproject_row_separator {
width: 100%;
height: 5px;
}

.RuzamCmsBundle_contact_addproject_row_content_separator {
width: 100%;
height: 5px;
    
}

.RuzamCmsBundle_contact_addproject_row_widget textarea {
width: 99%;
height: 50px;
border: 1px solid #B1D4E7;
}
.RuzamCmsBundle_contact_addproject_row_widget input {
width: 99%;
}

.RuzamCmsBundle_contact_addproject_controls {
width: 100%;
text-align: right;
margin-top: 10px;
}

.RuzamCmsBundle_contact_addproject_step_container {
width: 690px;
height: 119px;
overflow:hidden;
border: 0px solid black;
position: relative;
}

.RuzamCmsBundle_contact_addproject_arrow_step1 {
background-image: url(/bundles/ruzamcms/images/formularz_1_off.png);   
width: 304px;
height: 119px;
position: absolute;
top: 0px;
left: 0px;
z-index: 3;
}
.RuzamCmsBundle_contact_addproject_arrow_step1.on {
background-image: url(/bundles/ruzamcms/images/formularz_1_on.png);   
}

.RuzamCmsBundle_contact_addproject_arrow_step1 span {
position: absolute;
left: 50px;
top: 50px;
font-size: 15px;
color: white;
font-weight: bold;
z-index: 4;
}

.RuzamCmsBundle_contact_addproject_arrow_step2 {
background-image: url(/bundles/ruzamcms/images/formularz_2_3_off.png);   
width: 304px;
height: 119px;
position: absolute;
top: 0px;
left: 160px;
z-index: 2;
}
.RuzamCmsBundle_contact_addproject_arrow_step2 span {
position: absolute;
left: 90px;
top: 50px;
font-size: 15px;
color: white;
font-weight: bold;
z-index: 4;
}
.RuzamCmsBundle_contact_addproject_arrow_step2.on {
background-image: url(/bundles/ruzamcms/images/formularz_2_3_on.png); 
}
.RuzamCmsBundle_contact_addproject_arrow_step3 {
background-image: url(/bundles/ruzamcms/images/formularz_2_3_off.png);   
width: 304px;
height: 119px;
position: absolute;
top: 0px;
left: 390px;
z-index: 1;
}
.RuzamCmsBundle_contact_addproject_arrow_step3 span {
position: absolute;
left: 120px;
top: 50px;
font-size: 15px;
color: white;
font-weight: bold;
z-index: 4;
}
.RuzamCmsBundle_contact_addproject_arrow_step3.on {
background-image: url(/bundles/ruzamcms/images/formularz_2_3_on.png); 
}

.RuzamCmsBundle_contact_addproject_submit_pl, .RuzamCmsBundle_contact_addproject_submit_en {
width: 43px;
height: 14px;
overflow: hidden;
padding: 0px;
margin: 0px;
border: 0px;
cursor: pointer;   
}
.RuzamCmsBundle_contact_addproject_submit_pl {
background-image: url(/bundles/ruzamcms/images/dalej_pl.png); 
}
.RuzamCmsBundle_contact_addproject_submit_en {
background-image: url(/bundles/ruzamcms/images/dalej_en.png); 
}

.RuzamCmsBundle_contact_addproject_step_separator_top, .RuzamCmsBundle_contact_addproject_step_separator_bottom {
    
width: 100%;
height: 10px;
}
